<h1 mat-dialog-title>Edit Resource</h1>
<div mat-dialog-content class="dialog-container">
  <mat-form-field>
    <input matInput [(ngModel)]="data.title" placeholder="Title" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.url" placeholder="Page URL" required>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]="data.description" placeholder="Description" rows="3"></textarea>
  </mat-form-field>

  <h5>Categories</h5>
  <mat-checkbox *ngFor="let category of categories" [checked]="isSelected(data.categories, category)" (change)="onChangeSelection(data.categories, category)" class="checkbox-list-item"> {{ category }} </mat-checkbox>

  <br/>
  <br/>

  <h5>Technologies</h5>
  <mat-checkbox *ngFor="let technology of technologies" [checked]="isSelected(data.technologies, technology)" (change)="onChangeSelection(data.technologies, technology)" class="checkbox-list-item"> {{ technology }} </mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close]="data" cdkFocusInitial color="primary" [disabled]="!canSubmit">Save</button>
  <button mat-flat-button (click)="cancelDialog()">Cancel</button>
</div>